.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.main-footer .social-icons {
  display: flex;
  gap: 1.5rem;
}

.copyright-icon {
  font-size: 1.2rem;
}

.footer-text {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}
@media screen and (min-width: 900px) {

}
