* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  letter-spacing: 0.08rem;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: clamp(1.2rem, 1rem -10px, 1.5rem);
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat, sans-serif;
  color: #98a6ad;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: clamp(1.5rem, calc(1rem -10px), 1.8rem);
}

.my-container {
  max-width: 80%;
  margin: 0 auto;
}

.icons {
  font-size: clamp(1.5rem, calc(5% - 1rem), 2rem);
  /* color: darkslategray; */
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
